@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body {
    background-color: #1f242d;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 10%;
    
}

.logo{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 27px;
    cursor: default;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    padding: 0px 16px;
    font-weight: 600;
    transition: 0.3s all;
};

.navbar a:hover{
color:#0ef;

.info-side h3{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: 1px;
}

.info-side h1{
    font-size: 75px;
    letter-spacing: 1px;
    font-weight: 700;
}

.info-side h3 span{
    color: #0ef;
}
p{
    line-height: 27px;
    margin: 20px 0px 40px 0px;
}