/* XL Device :5000px. */
@media screen and (min-width: 1921px) and (max-width: 5000px) {
     .slider-height,.slider-content-height{ height: 1080px;}
     .slider-bg-img { border-bottom-right-radius: 12px;}
     .experience-bg-img{ border-bottom-left-radius: 12px;}
     .xxl-device-width{max-width: 2500px; margin: 0 auto;}
     .slider-social-link {
          right: 14%;
     }
}


/* XL Device :1920px. */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
     .slider-content h1 {
          font-size: 120px;
     }
     .about-img-over{
          padding-left: 100px;
     }
     .about-color-shape-bg {
          left: 30px;
     }
     .about-shape-dotted {
          left: -45px;
     }

}


/* XL Device :1356px. */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
     .single-slider.slider-height .container {
          max-width: 1200px;
     }
     .slider-content h1 {
          font-size: 110px;
          line-height: .9;
     }
     .slider-content span {
          font-size: 40px;
          line-height: 1.5;
     }
     .slider-content h5 span {
          font-size: 32px;
     }
     .about-color-shape-bg {
          left: 65px;
     }
     .experience-margin { margin-right: 0;}
     .slider-content p {
          font-size: 29px;
     }
     .about-img-over img {
          margin-left: 100px;
     }
     .slider-thumb img {
          max-width: 100%;
          height: 100%;
     }
     .about-img-over{
          padding-left: 35px;
     }
     h5 {
          font-size: 22px;
     }
   
}


/* XL Device :1280px. */
@media screen and (min-width: 1200px) and (max-width: 1370px) {

     .slider-img {
          max-width: 95%;
     }
     .signature {
          padding-right: 35px;
     }
}


/* LG Device :992px. */
@media screen and (min-width: 992px) and (max-width: 1199px) {
     .main-menu ul li > a {
          font-size: 16px;
     }
     .port-content {
          font-size: 15px;
          width: 50px;
          height: 50px;
          line-height: 50px;
     }
     .experience-ser-icon.mr-30 {
          margin-right: 25px;
     }
     .experience-service-text h3 {
          font-size: 25px;
     }
     .experience-service-text h4 {
          font-size: 22px;
     }
     .title h2 {
          font-size: 48px;
     }
     .port-over-content h3 {
          font-size: 25px;
     }
     .award-content h3 {
          font-size: 24px;
          line-height: 1;
     }
     .slider-content h5 span {
          font-size: 28px;
     }
     .slider-content h5 {
          font-size: 20px;
          line-height: 2;
     }
     .slider-content h1 {
          font-size: 100px;
          line-height: .9;
     }
     .slider-content span {
          font-size: 38px;
          line-height: 1.5;
          letter-spacing: 13px;
     }
     .slider-img {
          margin-left: 0;
     }
     .experience-margin { margin-right: 0;padding-left: 0;margin-top: -12px;}
     .slider-img img {min-width: 100%; }
     h3 {
          font-size: 45px;
          line-height: 1.1;
     }
     .about-info li.pr-45 {
          padding-right: 65px;
     }
     .signature {
          padding-right: 40px;
     }
     .single-fact span {
          font-size: 62px;
     }
     .single-fact p {
          font-size: 26px;
          line-height: 1.2;
     }
     .single-fact .mr-25 {
          margin-right: 18px;
     }
     .port-over-content h5 {
          font-size: 20px;
     }
     .award-content h5 {
          font-size: 20px;
     }
     canvas {
          width: 160px !important;
          height: 160px !important;
     }
     .single-skill .knob {
          color: #2e2e37 !important;
          margin-left: -128px !important;
          font-size: 32px !important;
          margin-top: 50px !important;
     }
     h5 {  font-size: 22px;}
     .rate {
          font-size: 45px;
          padding-right: 6px;
     }
     .single-service {
          padding-left: 20px;
          padding-right: 15px;
     }
     h4 {
          font-size: 26px;
     }
     .service-ser-icon span {
          font-size: 52px;
          left: 30px;
     }
     .testimonial-active {
          padding-left: 70px;
          padding-right: 10px;
     }
     .testimonial-text {
          font-size: 20px;
     }
     .blog-meta li {
          margin-right: 8px;
     }
     .slider-height,.slider-content-height {
          min-height: 580px;
     }
     .main-menu ul li {
          margin-left: 28px;
     }
     .experience-img img {
          border-top-right-radius: 10px;
     }
     .about-content h3 {
          margin-bottom: 15px;
     }
     .about-content > p {
          margin-bottom: 6px;
     }
     .about-area {
          margin-top: 130px;
          margin-bottom: 78px;
     }
     .about-info li p {
          margin-bottom: 3px;
     }
     .portfolio-area {
          padding-top: 118px;
          padding-bottom: 102px;
     }
     .award-area {
          padding-top: 118px;
          padding-bottom: 130px;
     }
     .experience-area {
          margin-top: 130px;
          padding-bottom: 72px;
     }
     .education-area .theme-border-bottom {
          padding-top: 75px;
     }
     .skill-area {
          padding-top: 120px;
          padding-bottom: 72px;
     }
     .pricing-area {
          padding-top: 118px;
          padding-bottom: 100px;
     }
     .service-area {
          padding-top: 118px;
          padding-bottom: 105px;
     }
     .testimonial-bg {
          padding-top: 128px;
          padding-bottom: 80px;
     }
     .contact-area {
          margin-top: 118px;
          margin-bottom: 122px;
     }
     .blog-area {
          padding-top: 118px;
          padding-bottom: 80px;
     }
     .footer-area {
          margin-bottom: 40px;
     }
     .education-wrapper {
          margin-right: 0;
     }
     .experience-area {
          margin-top: 0;
          padding-bottom: 115px;
     }
     .experience-margin {
          margin-right: 0;
          padding-left: 15px;
          margin-top: 160px;
     }
     .modal-body h4 {
          font-size: 35px;
     }
     .single-blog-content {
          padding-left: 26px;
          padding-right: 21px;
     }

}


/* MD Device :768px. */
@media screen and (min-width: 768px) and (max-width: 991px) {
     .sticky-menu .logo {
          margin: 15px 0;
     }
     .port-over-content h3 {
          font-size: 23px;
     }
     .modal-body .blog-meta {
          width: 58% !important;
     }
     .single-fact h3 {
          margin-top: 50px;
     }
     .title span {
          font-size: 21px;
     }
     .title h2 {
          font-size: 45px;
     }
     .award-content h3 {
          font-size: 21px;
     }
     .port-content {
          font-size: 16px;
          width: 55px;
          height: 55px;
          line-height: 55px;
     }
     .slider-img {
          right: -100%;
          position: static !important;
     }
     .slider-content {margin-top: 120px; margin-bottom: 80px;}
     .slider-content h1 {
          font-size: 120px;
          line-height: .9;margin-bottom: 20px;
     }
     .slider-content p {
          font-size: 24px;
          line-height: 1.4;
          padding: 0 100px;
     }
     .slider-content .btn {
          margin-top: 20px;
     }
     .slider-img img {min-width:auto; min-height: auto; border-radius: 12px;}
     .slider-img {right: 0;}
     .about-img {text-align: right;}
     .about-color-shape-bg {
          left: 108px;
          bottom: -90px;
     }
     .about-shape-dotted {
          left: 0;
          bottom: 95px;
     }
     .about-color-shape-bg.secondary-bg {left: 0;}
     .experience-margin { margin-right: 0;padding-left: 0;margin-top: 110px;}
     h3 {
          font-size: 50px;
          line-height: 1.1;
     }
     .pr-45 {
          padding-right: 60px;
     }
     .single-fact p {margin-top: 55px;}
     .single-fact .mr-25 {
          margin-right: 0;justify-content: center;
     }
     .experience-img { margin-left: 0;}
     .experience-img img {border-radius: 12px;}
     .port-over-content h5 {
          font-size: 20px;
     }
     .award-content h5 {
          font-size: 20px;
     }
     .rate {
          font-size: 45px;
          padding-right: 6px;
     }
     .single-service {
          padding-left: 35px;
          padding-right: 15px;
     }
     h4 {
          font-size: 25px;
     }
     .testimonial-active {
          padding-left: 70px;
          padding-right: 10px;
     }
     .testimonial-text {
          font-size: 20px;
     }
     .blog-meta li {
          margin-right: 8px;
     }
     h3 {  font-size: 50px;}
     .testimonial-img {
          width: auto;
     }
     .contact-info-content{display: flex; justify-content: space-between;}
     .contact-info-content li {
          display: inline-block !important;
          text-align: center;
          width: 33.33%;
     }
     .contact-icon.d-inline-block.text-center.theme-bg.mr-30 {
          display: block !important;
          margin-right: 0;
          margin: 20px auto;
     }
     .single-fact {
          text-align: center;
     }
     .about-area {
          margin-top: 110px;
          margin-bottom: 110px;
     }
     .portfolio-area {
          padding-top: 105px;
          padding-bottom: 90px;
     }
     .award-area {
          padding-top: 105px;
          padding-bottom: 115px;
     }
     .experience-area {
          padding-bottom: 110px;
     }
     .education-area .theme-border-bottom {
          padding-top: 115px;
     }
     .skill-area {
          padding-top: 105px;
          padding-bottom: 58px;
     }
     .award-wrapper {margin-top: 18px;}
     .pricing-area {
          padding-top: 105px;
          padding-bottom: 85px;
     }
     .service-area {
          padding-top: 55px;
          padding-bottom: 90px;
     }
     .testimonial-bg {
          padding-top: 104px;
          padding-bottom: 115px;background: #f5f4f4;
     }
     .testimonial-area {background: #f5f4f4;}
     .contact-area {
          margin-top: 105px;
          margin-bottom: 107px;
     }
     .blog-area {
          padding-top: 105px;
          padding-bottom: 65px;
     }
     .footer-area {
          padding-top: 102px;
          margin-bottom: 45px;
     }
     .portfolio-wrapper .title {
          margin-bottom: 40px;
     }
     .port-button {
          margin-bottom: 28px;
     }
     .price-wrapper,.service-wrapper {
          margin-top: 50px;
     }
     .slider-img-wrapper{position: relative !important;}
     .testimonial-wrapper {
          padding-bottom: 135px;
     }
     .quit {
          top: 11px;
     }
     .experience-bg-img {
          border-radius: 12px;
          width: 83% !important;
          margin: 0 auto;
          position: inherit !important;
          min-height: 600px;
     }
     .experience-margin {
          padding-bottom: 0;
     }
     .slider-bg-img {
          background-position: center;
          border-radius: 12px;
          position: inherit !important;
          width: 83% !important;
          min-height:75vh;
          margin: 83px auto;
          margin-bottom: 70px;
     }
     .logo {
          margin: 25px 0;
     }
     .about-area {
          margin-top: 115px;
          margin-bottom: 65px;
     }
     .about-content {
          margin-top: 65px;
     }
     .experience-wrapper.extra-width {
          display: flex;
          flex-direction: column-reverse;
     }
     .slider-content-height {
          min-height: auto;
     }
     .slider-social-link { right: 0;}
     .service-ser-icon {
          margin-bottom: 30px;
          margin-left: 15px;
     }
     .single-service {
          padding-top: 70px;
          padding-bottom: 50px;
     }
     .education-wrapper {
          margin-right: 0;
     }
     .modal-content {
          width: 90%;margin: 0 auto;
     }
     .modal-body {
          padding-left: 20px;
          padding-right: 20px;
     }
     .modal-body h4 {
          font-size: 38px;
     }
     .slider-height, .slider-container {
          max-height: 150vh;
     }
     .slider-img {
          margin-left: 0;
          margin-right: 0;
          padding-top: 0;
     }
     .slider-img::before {
          left: -110px;
          top: -800px;
     }
     .slider-img::after {
          left: -50px;
          top: -68px;
          width: 700px;
          height: 700px;
     }
     .blog-modal-img img {
          border-radius: 12px;
     }


}


/* Extra small Device. */
@media screen and (max-width: 767px) {
     .blog-modal-img img {
          border-radius: 12px;
     }
     .slider-img::before {
          left: -85px;
          top: -700px;
          width: 1064px;
          height: 1064px;
     }
     .slider-img::after {
          left: -5%;
          top: 0px;
          width: 400px;
          height: 400px;
     }
     .slider-height, .slider-container {
          max-height: 180vh;
     }
     .slider-content .sub-heading {
          font-size: 21px;
          letter-spacing: 4px;
     }
     .slider-content h2 {
          font-size: 18px;
     }
     .slider-content h2 span {
          font-size: 24px;
     }
     .title h2 {
          font-size: 30px;
     }
     .single-fact h3 {
          font-size: 21px;
          line-height: 1.3;
          margin-top: 40px;
     }
     .single-fact {
          margin-bottom: 60px;
     }
     .fun-fact-area {
          padding-bottom: 35px;
     }
     .signature {
          margin-bottom: 30px;
     }
     .about-img-over {
          padding-left: 0;
     }
     .about-shape-dotted {
          display: none;
     }
     .slider-img {
          margin-left: 0;
          margin-right: 0;
          padding-top: 0;
     }
     .education-wrapper {
          margin-right: 0;
     }
     .contact-wrapper.mt-70 {
          margin-top: 35px;
     }
     .contact-form {
          margin-top: 32px;
     }
     .logo {
          margin-top: 25px;
          margin-bottom: 25px;
     }
     .sticky-menu .logo {
          margin: 12px 0;
     }
     .slider-content {margin-top: 100px; padding-right: 0; margin-bottom: 60px;}
     .slider-content h1 {
          font-size: 60px;margin-bottom: 20px;
     }
     .slider-content span {
          font-size: 20px;
          letter-spacing: 10px;
     }
     .slider-content h5 {
          font-size: 17px;
          line-height: 2;
          letter-spacing: 1.8px;
     }
     .slider-content h5 span {
          font-size: 20px;
          letter-spacing: 2px;
     }
     .slider-content .btn {
          margin-top: 15px;
     }
     .btn {
          padding: 9px 30px;
          font-size: 16px;
     }
     .slider-img img { min-width:auto; min-height: auto; border-radius: 12px; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; }
     .mobile-menubar {
          font-size: 18px;
          padding: 2px 10px;
          border-radius: 3px;
     }
     .slider-social-link .social li a {
          font-size: 16px;
          width: 40px;
          height: 30px;
          line-height: 30px;
     }
     .port-over-content h3 {
          font-size: 24px;
     }
     .port-over-content span {
          font-size: 15px;
     }
     .title span {
          font-size: 18px;
          letter-spacing: 2px;
     }
     .title h3 {
          letter-spacing: 3px;
     }
     h3 {
          font-size: 29px;
     }
     p {
          font-size: 17px;
     }
     .about-img-over img {
          margin-left: 15px;
     }
     .about-color-shape-bg {
          width: auto;
          height: 98%;
          left: 0;
          bottom: -8px;
          right: 15px;
     }
     .about-color-shape-bg.secondary-bg {
          width: auto;
          height: auto;
     }
     .single-fact span {
          font-size: 56px;
     }
     .award-content h3 {
          font-size: 24px;
     }
     .award-logo {
          margin-bottom: 30px;
          margin-top: 20px;
     }
     .experience-service-text h3 {
          font-size: 24px;
     }
     .experience-service-text h4 {
          font-size: 21px;
     }
     .experience-service-text h4 span {
          font-size: 15px;
     }
     .progress-circular h4 {
          font-size: 25px;
     }
     .single-fact p {
          font-size: 22px;
          line-height: 1.2;
     }
     .single-fact .mr-25 {
          margin-right: 20px;
     }
     .portfolio-area .portfolio-menu button {
          font-size: 17px;
          padding: 6px 8px;
     }
     .port-over-content h5 {
          font-size: 19px;
     }
     .award-wrapper {
          text-align: center;
          margin-top: 0;
          margin-left: 10px;
          margin-right: 10px;
     }
     .experience-ser-icon {
          margin-right: 12px;
     }
     .experience-ser-icon span {
          width: 44px;
          height: 43px;
          line-height: 44px;
          font-size: 22px;
     }
     h5 {
          font-size: 20px;margin-bottom: 9px;
     }
     .experience-content li {
          margin-bottom: 22px;
     }
     .experience-img { margin-left: 0;}
     .experience-img img {border-radius: 12px;}
     .rate {
          font-size: 48px;
     }
     h4 {
          font-size: 22px;
     }
     .service-ser-icon span {
          font-size: 60px;
          top: 5px;
     }
     .testimonial-bg::before {
          display: none;
     }
     .testimonial-area.over-hidden {
          background: #f5f4f4;
     }
     .testimonial-text {
          font-size: 17px;
          line-height: 1.5;
     }
     .testimonial-active {
          padding-left: 50px;
          padding-right: 0;
     }
     .quit img {
          max-width: 28px;
     }
     h6 {
          font-size: 17px;
     }
     .testimonial-img {
          width: auto;
          margin-top: 60px;
     }
     .slick-dots {
          left: 50px;
     }
     .slick-arrow .l-a, .slick-arrow .r-a {
          right: 58px;
          width: 36px;
          height: 36px;
          line-height: 34px;
          font-size: 16px;
     }
     .slick-arrow .r-a {right: 15px;}
     .single-brand img { margin: 0 auto;}
     .contact-info-content li {display: flex;}
     .contact-info .mb-12 {
          padding-left: 15px;
          padding-right: 15px;
     }
     *::-moz-placeholder, *::placeholder { font-size: 16px;}
     .side-mobile-menu { width: 95%;}
     .blog-meta li.mr-15 { margin-right: 8px;}
     .single-blog-content {
          padding-left: 20px;
          padding-right: 15px;
     }
     .single-service {
          padding-left: 35px;
          padding-right: 20px;
     }
     .about-area {
          margin-top: 115px;
          margin-bottom: 62px;
     }
     .about-img-wrapper {
          margin-bottom: 80px;
     }
     .experience-margin {
          padding-left: 0;
          margin-right: 0;
          margin-top: 110px;
     }
     .portfolio-area {
          padding-top: 105px;
          padding-bottom: 90px;
     }
     .award-area {
          padding-top: 105px;
          padding-bottom: 115px;
     }
     .experience-area {
          padding-bottom: 90px;
     }
     .education-area .theme-border-bottom {
          padding-top: 115px;
     }
     .skill-area {
          padding-top: 105px;
          padding-bottom: 65px;
     }
     .pricing-area {
          padding-top: 105px;
          padding-bottom: 85px;
     }
     .service-area {
          padding-top: 55px;
          padding-bottom: 90px;
     }
     .testimonial-bg {
          padding-top: 104px;
          padding-bottom: 115px;
     }
     .contact-area {
          margin-top: 105px;
          margin-bottom: 107px;
     }
     .blog-area {
          padding-top: 105px;
          padding-bottom: 65px;
     }
     .footer-area {
          padding-top: 102px;
          margin-bottom: 45px;
     }
     .portfolio-wrapper .title {
          margin-bottom: 40px;
     }
     .port-button {
          margin-bottom: 28px;
     }
     .price-wrapper,.service-wrapper {
          margin-top: 50px;
     }
     .slider-img-wrapper{position: relative !important;}
     .experience-bg-img {
          border-radius: 12px;
          width: 92% !important;
          margin: 0 auto;
          position: inherit !important;
          min-height: 450px;
     }
     .experience-margin {
          padding-bottom: 0;
     }
     .experience-wrapper.extra-width {
          display: flex;
          flex-direction: column-reverse;
     }
     .slider-bg-img {
          background-position: center;
          border-radius: 12px;
          position: inherit !important;
          width: 80% !important;
          min-height:65vh;
          margin: 83px auto;
          margin-bottom: 63px;
     }
     .logo {
          margin: 25px 0;
     }
     .slider-social-link {
          right: -73px;
     }
     .slider-social-link .social li a {
          color: #98c949 !important;
     }
     .slider-social-link .social li:hover {
          background: transparent;
     }
     .quit {
          top: 4px;
     }
     .service-yellow-shadow {
          top: -8%;
          left: -48%;
     }
     .service-ser-icon {
          margin-bottom: 30px;
          margin-left: 15px;
     }
     .single-service {
          padding-top: 70px;
          padding-bottom: 50px;
     }
     .modal-content {
          width: 98%;
          margin: 0 auto;
     }
     .modal-body {
          padding-left: 10px;
          padding-right: 10px;
     }
     .modal-content h2 {
          font-size:24px;
          padding: 35px 0px 18px 0px;
     }
     .blog-meta {
          width: 100% !important;
     }
     .blog-content h6 {
          font-size: 18px;
     }
     .pro-modal-footer h6 {padding-right: 0;}
     .modal-tags h6 {padding-bottom: 10px;}
     .pro-modal-footer {
          margin-top: 0;
          margin-bottom: 10px;
     }
     .blog-meta li a, .blog-meta li span, .blog-meta li a::before, .blog-meta li span::before {
          font-size: 14px;
     }
     .port-content {
          font-size: 12px;
     }
     .port-content {
          width: 40px;
          height: 40px;
          line-height: 40px;
     }
     .port-over-content {
          padding: 10px 25px 25px 25px;
     }
     .single-portfolio:hover .port-content {
          top: 28px;
     }
     .slick-dots {
          bottom: -60px;
     }
     .header-btn a {
          padding: 10px 15px;
          font-size: 11px;
     }
     .mobile-m-bar{margin-left: 2px;}
     .header-btn {
          padding-left: 2px;
     }
     .meta-wrapper {
          margin-top: 45px;
     }
     .d-text.d-block.d-sm-inline-block {
          display: block !important;
     }
}


/* SM Small Device :550px. */
@media screen and (min-width: 576px) and (max-width: 767px) {
     .slider-content h1 {
          font-size: 110px;
          line-height: 1;
     }
     .blog-meta li.mr-15 { margin-right: 5px;}
     .side-mobile-menu { width: auto;}
     .about-color-shape-bg {
          width: 424px;
          height: 409px;
          left: -50px;
          bottom: -50px;
     }
     .port-over-content h3 {
          font-size: 28px;
     }
     .about-color-shape-bg.secondary-bg {
          width: 348px;
          height: 384px;
          left: -85px;
          bottom: 30px;
     }
     .experience-ser-icon {
          margin-right: 25px;
     }
     .single-service {
          padding-left: 45px;
          padding-right: 35px;
     }
     .single-fact p {
          font-size: 22px;margin-top: 10px;
     }
     p {
          font-size: 18px;
     }
     h3 {
          font-size: 36px;
     }
     .single-fact {
          text-align: center;
     }
     .single-fact .mr-25 {
          margin-right: 0;
          justify-content: center;
     }
     .slider-social-link {
          right: -85px;
     }
     .about-img-wrapper {
          margin-bottom: 125px;
     }
     .modal-content {
          width: 90%;
     }
     .modal-content h2 {
          font-size: 28px;
     }
     .blog-meta li a, .blog-meta li span, .blog-meta li a::before, .blog-meta li span::before {
          font-size: 13px;
     }
     .modal-body .blog-meta {
          width: 80% !important;
     }
     .single-blog-content h3 {
          font-size: 21px;
     }
     .slider-content p {
          padding-left: 60px;
          padding-right: 60px;
     }
     .about-color-shape-bg.secondary-bg {
          width: 348px;
          height: 384px;
          left: -45px;
          bottom: 30px;
     }
     .about-color-shape-bg {
          width: 424px;
          height: 409px;
          left: -15px;
          bottom: -24px;
     }
     .modal-body h4 {
          font-size: 28px;
     }
     .single-fact h3 {
          margin-top: 45px;
     }
     .title h2 {
          font-size: 40px;
     }
     .progress-circular h4 {
          font-size: 26px;
     }
     .service-text h3 {
          font-size: 28px;
     }
     .slider-img::after {
          left: -5%;
          top: 0px;
          width: 500px;
          height: 500px;
     }
     .d-text.d-block.d-sm-inline-block {
          display: inline-block !important;
     }
}


/* SM Small Device :550px. */
@media screen and (min-width: 400px) and (max-width: 576px) {
     h6 {
          font-size: 20px;
     }
     .blog-meta li.mr-15 { margin-right: 18px;}
     .single-fact span {
          font-size: 60px;
     }
     .single-fact p {
          font-size: 25px;
          line-height: 1.3;
     }
     .slider-social-link {
          right: -75px;
     }
     .modal-content h2 {
          font-size: 22px;
     }
     .blog-meta li a, .blog-meta li span, .blog-meta li a::before, .blog-meta li span::before {
          font-size: 16px;
     }
     .slider-content p {
          padding-left: 60px;
          padding-right: 60px;
     }
     .slider-img::after {
          left: -30px;
          top: 0px;
          width: 450px;
          height: 450px;
     }
     .d-text.d-block.d-sm-inline-block {
          display: inline-block !important;
     }
}


/* SM Small Device :550px. */
@media screen and (min-width: 500px) and (max-width: 576px){
     .slider-content h1 {
          font-size: 100px;
          line-height: 1;
     }
     .about-color-shape-bg {
          width: 465px;
     }
     .slider-img::after {
          left: 20px;
          top: 0px;
          width: 450px;
          height: 450px;
     }
}