/* Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: yellow;
}

.section_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 4px 20px;
    border-radius: 12px;
    background: #374151;
    width: fit-content;
    margin: 0 auto;
}

.section_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin: 20px 0 30px 0;
}

.section_desc p {
    color: #D1D5DB;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

body {
    color: #ffffff;
}

/* Header Section Settings */
.header {
    width: 100%;
    height: 68px;
    background-color: #030712;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 0 80px;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.header a:hover {
    color: yellowgreen;
}

.header a span:hover {
    color: #fff;
}

.header a span {
    color: yellowgreen;
}

.header .navbar {
    display: flex;
    list-style: none;
    margin-left: 400px;
}

.header .navbar li {
    justify-content: space-evenly;
    list-style: none;
    padding-left: 50px;
    font-size: 18px;
    font-weight: bold;
}

.header .navbar li a:hover {
    color: yellow;
}

.header .cv_btn {
    margin-right: 80px;
    font-weight: bold;
    background-color: #fff;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
}

.header .cv_btn a {
    color: #030712;
}

.header .cv_btn:hover {
    color: yellow;
    background-color: #030712;
    border: #fff 1px solid;
}

.header .cv_btn a:hover {
    color: yellow;
}


/* ==============Hero Section Settings ====================*/
.hero {
    width: 100%;
    height: calc(100vh - 68px);
    background-color: #030712;
    display: flex;
    padding: 96px 80px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.hero_left {
    display: flex;
    max-width: 768px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.hero_left h2 {
    color: #F9FAFB;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -1.2px;
}

.hero .hero_left .intro {
    color: #D1D5DB;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.hero_left .location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero_left .location p {
    color:#D1D5DB;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 10px;
}

.hero_left .available {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero_left .available .act {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 20px;
    background:#10B981;
    margin-left: 8px;
}

.hero_left .available p {
    color: #D1D5DB;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 15px;
}

.hero_left .socials {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 8px;
}

.hero_left .socials li {
    margin: 20px 0 0 10px;
}

.hero_right {
    display: flex;
    min-width: 384px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;
}

.hero_right img {
    width: 280px;
    height: 320px;
    margin: -360px 50px 0 0px;
    border: 8px solid #030712;
}

.hero_right .backgrnd {
    width: 280px;
    height: 280px;
    flex-shrink: 0;
    border: 8px solid #111827;
    background: #374151;
    margin: 0px 7px 0px 0;
}

/* About Section Settings */
.about {
    width: 100%;
    height: 962px;
    background-color: #111827;
    padding: 80px 0 0 0;
}

.about .about_cont {
    display: flex;
    padding: 0px 32px;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    flex: 1 0 0;
    margin: 96px 80px;
}

.about .about_cont h3 {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    
}

.about_img {
    display: flex;
    min-width: 444px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.backgrnd {
    width: 400px;
    height: 480px;
    flex-shrink: 0;
    border: 8px solid #111827;
    background: #374151;
}

.about_img img {
    width: 400px;
    height: 480px;
    margin: -520px 0 0 50px;
    flex-shrink: 0;
    border: 8px solid #111827;
}

.about_cont .about_text {
    display: flex;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    flex-wrap: wrap;
}

.about_cont .about_text h4 {
    color: #F9FAFB;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.6px;
}

.about_cont .about_text p {
    align-self: stretch;
    color: #D1D5DB;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.about_cont .about_text .summary {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 2;
}

.about_cont .about_text .summary .sum_1 {
    margin-left: 15px;
}
.about_cont .about_text .summary .sum_2 {
    margin-left: 100px;
}

.about_cont a {
    text-decoration: underline;
}


/* Skills Section Settings */
.skills {
    width: 100%;
    height: 560px;
    background-color: #030712;
    display: flex;
    padding: 96px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

/* .skills .section_title {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: stretch;
margin-bottom: 30px;
}

.skills h4 {
    display: flex;
padding: 4px 20px;
justify-content: center;
align-items: center;
border-radius: 12px;
background: #374151;
color: #D1D5DB;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
} */

/* .skills .section_desc {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: stretch;

} */

/* .skills .section_desc p {
    color: #D1D5DB;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
margin-bottom: 30px;
} */

.skills .skill_icons {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0 80px 0 80px;
}

.skills .skill_icons .icon_card {
    width: 150px;
    height: 150px;
}

/* Experiences Section Settings */
.experience {
    width: 100%;
    height: 1140px;
    background-color: #111827;
    display: flex;
    padding: 96px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.exp_container {
    display: flex;
padding: 0px 32px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 48px;
align-self: stretch;
}

/* .exp_container .section_title {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: stretch;
line-height: 2;
} */

/* .exp_container .section_title h4 {
    display: flex;
padding: 4px 20px;
justify-content: center;
align-items: center;
color:#D1D5DB;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
border-radius: 12px;
background: #374151;
} */

/* .exp_container .section_desc {
align-self: stretch;
color:#D1D5DB;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
} */

.experience_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}

.exp_board {
    border-radius: 12px;
    background: #1F2937;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    width: 896px;
    padding: 32px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.experience_box .exp_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

}

.experience_box .exp_details p {
color: #F9FAFB;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
}

.experience_box .exp_details ul {
    margin: 10px 0 0 30px;
}

.experience_box ul li {
    color:#D1D5DB;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

.experience_box .exp_date {
color:#E5E7EB;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 2;
}

/* Project Section Settings */
.project {
    width: 100%;
    /* height: 1656px; */
    background-color: #030712;
    display: flex;
    padding: 96px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.work_cont {
    display: flex;
    padding: 48px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px 0px 0px 12px;
}

.work_cont .work_img {
    width: 576px;
    height: 480px;
    display: flex;
    padding: 48px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px 0px 0px 12px;
    border-right: 1px solid #1F2937;
    background:#374151;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10), 0px 10px 8px 0px rgba(0, 0, 0, 0.04);
}

.work_cont .work_img img {
    width: 480px;
    height: 384px;
    flex: 1 0 0;
    border-radius: 12px;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10), 0px 10px 8px 0px rgba(0, 0, 0, 0.04);
}

.work_details {
    width: 576px;
    height: 480px;
    display: flex;
    padding: 48px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0px 12px 12px 0px;
    background-color: #1F2937;
}

.work_details h3 {
    align-self: stretch;
    overflow: hidden;
    color: #F9FAFB;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 2;
}

.work_details p {
    align-self: stretch;
    color:#D1D5DB;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.work_skill {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.work_skill p {
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background:#374151;
}

.icon_btn {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.icon_btn a {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
/* Testimonials Section Settings */
.testimonial {
    width: 100%;
    height: 740px;
    background-color: #111827;
}

/* Testimonials Section Settings */
.contact {
    width: 100%;
    height: calc(560px - 68px);
    background-color: #030712;
}

/* Footer Section Settings */
.footer {
    width: 100%;
    height: 68px;
    background-color: #111827;
}
