body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 0 auto;
  font-family: 'Sacramento', cursive; 
}

h2 {
    color: #66BFBF;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2; 
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    height: 500px;
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;  
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;

}

.top-cloud {
width: 70px;
position: absolute;
right: 350px;
top: 30px;
}

.bottom-cloud {
width: 50px;
position: absolute;
left: 270px;
bottom: 280px;
}

.mountain {
    position: absolute;
    bottom: 0;
    left: 520px;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: red;
    opacity: 0.94;
    z-index: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: start;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
    
}

.copyright {
   color: #EAF6F6;
   font-size: 0.75rem;
   padding: 20px 0; 
}

.html {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.css {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.js {
    width: 25%;
    float: left; /*Use float ONLY when you want to wrap text around
    an image and don't use it for positioning*/
    margin-right: 30px;
}

/* clear: left; It works like the opposite of float property*/

.python {
    width: 25%;
    float:right; 
    margin-left: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

