.AboutTop {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;


    & .AboutLeft {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        & h3 {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: .5rem;
            color: var(--white);

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: var(--txt-teal);
                margin-top: .1rem;
            }
        }

        & img {
            width: 45%;
            height: 45%;
            object-fit: cover;
            border-radius: .5rem;
            align-self: center;
        }

        & p {
            font-size: 1rem;
            font-weight: 400;
            margin-top: .5rem;
            text-align: justify;
        }
    }

    & .AboutRight {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: auto;
        margin-left: 1rem;

        & h3 {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: .5rem;
            color: var(--white);
        }

        .StepperTitle {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: hidden;
            cursor: pointer;
            transition: all .3s ease-in-out;
            border-radius: 5px;
            padding: .2rem;

            & i {
                font-size: .8rem !important;
                color: var(--white);
                display: flex;
                align-self: flex-start;
                align-items: center;
                justify-content: center;
                margin: .2rem;
                height: 1rem;
                width: 1rem;
                border: none;
            }

            &:hover {
                background-color: var(--bg-clear);
                color: var(--txt-teal) !important;

                & i {
                    color: var(--txt-teal);
                }

            }
        }

        & h4 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: .5rem;
            color: var(--white);
        }

        & i {
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            border-radius: 50%;
            border: 1.5px solid var(--warning);
        }

    }
}

.StepperLabelActive {
    border-radius: 5px;
    border: 1px solid var(--txt-teal);
    padding: .5rem;

    & p {
        color: var(--p-color);
        font-size: .8rem;
    }
}

.Tags p {
    color: var(--txt-teal);
}

.AboutBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 15%;
    margin: .5rem 0;
    border-top: 1px solid var(--p-color);

    & .AboutBottomItem {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        width: 100%;
        height: auto;
        padding: .5rem;
        border-radius: 5px;
        transition: all .3s ease-in-out;
        cursor: pointer;
        overflow: hidden;
        gap: .5rem;
        margin: .5rem 0;

        & .AboutBottomItemIcon {
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .5rem;
            font-size: 1.5rem;
            border-radius: 50%;
            border: 1px solid var(--p-color);
        }

        &:hover {
            background-color: var(--bg-clear);
            color: var(--txt-teal);

            & .AboutBottomItemIcon {
                border: 1px solid var(--txt-teal);
                color: var(--txt-teal);
            }

            & p {
                color: var(--warning);
            }
        }

        & .AboutBottomItemText {
            height: 3rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            & p {
                font-size: 1rem;
            }
        }
    }
}

/* media queries */
@media screen and (max-width: 768px) {
    .AboutTop {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: 90%;

        & .AboutLeft {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            & img {
                width: 50%;
                height: 50%;
                object-fit: cover;
                border-radius: .5rem;
                align-self: center;
            }
        }

        & .AboutRight {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: auto;
            margin-left: 0;

            & h3 {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: .5rem;
                color: var(--white);
            }

            .StepperTitle {
                width: 100%;
                height: hidden;
                cursor: pointer;
                transition: all .3s ease-in-out;
                border-radius: 5px;
                padding: .2rem;

                & i {
                    font-size: .8rem !important;
                    color: var(--white);
                    display: flex;
                    align-self: flex-start;
                    align-items: center;
                    justify-content: center;
                    margin: .2rem;
                    height: 1rem;
                    width: 1rem;
                    border: none;
                }
            }

            & h4 {
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: .5rem;
                color: var(--white);
            }

        }
    }

    .AboutBottom {
        flex-direction: row;
        gap: .5rem;
        padding: 0;
        margin: 0;
        height: auto;

        & .AboutBottomItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: .2rem;
            border-radius: 5px;
            transition: all .3s ease-in-out;
            cursor: pointer;
            gap: .2rem;

            & .AboutBottomItemIcon {
                width: 2rem;
                height: 2rem;
                font-size: 1rem;
                border-radius: 50%;
                border: 1px solid var(--p-color);
            }

            & .AboutBottomItemText {
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                & h4 {
                    font-size: .8rem;
                }

                & p {
                    font-size: .7rem;
                }
            }
        }
    }
}