@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #198754;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #0dcaf0;
    --light: #f8f9fa;
    --dark: #212529;
    --white: #fff;
    --black: #000;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --glass: rgba(255, 255, 255, 0.2);
    --bg-clear: rgba(255, 255, 255, 0.1);
    --txt-teal: #64ffda;
    --p-color: #94A3B8;
    --bg-color: rgb(18, 27, 48);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.AppLeft {
    background-color: var(--bg-clear);
}

.SidebarContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.1rem;
    height: .1rem;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cursor-highlight {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: radial-gradient(circle at center,
            rgba(29, 78, 216, 0.15) 0%,
            transparent 80%);
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
}

.Loading {
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;

    & i {
        font-size: 3rem;
    }
}

.Title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    & h1 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: .5rem;
        color: var(--white);

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--txt-teal);
            margin-top: .1rem;
        }
    }
}

.Main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Container {
    width: 90%;
    height: 90%;
    background-color: var(--bg-clear);
    border-radius: 1rem;
    padding: .5rem;
    z-index: 1;
    overflow: auto;
}

.Tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: .1rem;
    margin: .2rem 0;

    & .Tag {
        width: auto;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .2rem;
        padding: .2rem .5rem;
        border-radius: .5rem;
        transition: all .3s ease-in-out;
    }

    & p {
        font-size: .6rem;
    }
}

.colored {
    color: var(--txt-teal);
}


.SidebarToggler {
    display: none;
}

/* media queries */

@media screen and (max-width: 768px) {
    .AppLeft {
        width: 50%;
        height: 100%;
        position: absolute;
        z-index: 9999 !important;
        transition: all .3s ease-in-out;
        background-color: var(--dark);
    }

    .SidebarContainer {
        width: 100%;
        height: 100%;
        background-color: rgb(18, 27, 48);
    }

    .ant-modal-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 1rem;
        overflow: auto;
        border: 1px solid red;
        z-index: 9999 !important;
    }

    .Main {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1 !important;
        transition: all .3s ease-in-out;
    }

    .Container {
        width: 100%;
        height: 100%;
    }

    .SidebarToggler {
        z-index: 9999 !important;
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all .3s ease-in-out;

        & i {
            font-size: 1.5rem;
            color: var(--white);
        }
    }
}