body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-fira-sans: "Fira Sans";
  --font-inter: Inter;
  --font-merriweather-sans: "Merriweather Sans";
  --font-averia-serif-libre: "Averia Serif Libre";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-10xl: 29px;
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-base: 16px;

  /* Colors */
  --color-black: #000;
  --color-gainsboro-100: #d9d9d9;
  --color-silver: #bfbfbf;
  --color-darkslategray: #333;
  --color-white: #fff;
  --color-gray-100: #7a7676;

  /* Gaps */
  --gap-25xl: 44px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-12xs: 1px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-lgi: 19px;
  --gap-3xs: 10px;
  --gap-33xl: 52px;
  --gap-xs: 12px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-sm: 14px;
  --gap-3xl: 22px;
  --gap-10xl: 29px;
  --gap-lgi-7: 19.7px;
  --gap-9xs: 4px;
  --gap-base: 16px;

  /* Paddings */
  --padding-8xs: 5px;
  --padding-31xl: 50px;
  --padding-4xl: 23px;
  --padding-35xl: 54px;
  --padding-8xl: 27px;
  --padding-6xl: 25px;
  --padding-sm: 14px;
  --padding-mid: 17px;
  --padding-12xs: 1px;
  --padding-9xs: 4px;
  --padding-smi: 13px;
  --padding-7xs: 6px;
  --padding-lgi: 19px;
  --padding-3xl: 22px;
  --padding-11xs: 2px;
  --padding-xl: 20px;
  --padding-6xs: 7px;
  --padding-9xl: 28px;
  --padding-3xs: 10px;
  --padding-4xs: 9px;
  --padding-22xl: 41px;
  --padding-11xl: 30px;
  --padding-69xl: 88px;
  --padding-25xl: 44px;
  --padding-lg: 18px;
  --padding-15xl: 34px;
  --padding-xs: 12px;
  --padding-10xs: 3px;
  --padding-10xl: 29px;
  --padding-16xl: 35px;
  --padding-34xl: 53px;
  --padding-88xl: 107px;
  --padding-2xl: 21px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-base: 16px;
  --br-xl: 20px;
  --br-5xl: 24px;
  --br-81xl: 100px;
  --br-xs: 12px;
  --br-5xs: 8px;
}
