*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    margin: auto;
    padding: 20px 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
}
.details{
    margin-left: 8%;
    margin-top: 13%;
}
.details h1{
    font-size: 50px;
    color: #212121;
    margin-top: 20px;
}
span{
    color: orange;
}
.details p{
    color: #555;
    line-height: 22px;
}
.details a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: botton 1s, left 1s;
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .girl{
    left: 45%;
}