*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
header{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 5px solid #f27a43;
}
nav{height: fit-content;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav a{
  text-decoration: none;
  color: #f27a43;
  font-size: 20px;
}body{
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  display: none;
}
#heading{
  color: #004185;
  margin: 20px;
  font-size: 30px;
}
section{
  width: 100%;
  height: fit-content;
}
section img{
  width: 100%;
  height: fit-content;
  object-fit: cover;
}
#r1{
  width: 100%;
  height: fit-content;
  font-size: 50px;
  color: #004185;
  padding: 20px;
  line-height: 40px;
  word-spacing: 3px;
}
#r2, #r5{
  width: 100%;
  height: fit-content;
  font-size: 30px;
  color: #004185;
}
#container_1{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  overflow-y: auto;
}
#list_1, #list_2{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 20px;
}
#list_1 li, #list_2 li{
  width: 300px;
  height: fit-content;
  color: #004185;
  font-size: 30px;
  padding: 20px;
}
form{
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid #004185;
  padding: 20px;
  gap: 10px;
}
form input{
  font-size: 20px;
  padding: 10px;
  color: #004185;
}
table{
  width: 50%;
  height: fit-content;
  border: 1px solid #004185;
  padding: 10px;
  font-size: 20px;
}
footer{
  width: 100%;
  height: 10%;
  margin-bottom: 0;
  background-color: #f27a43;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media (max-width:750px) {
  header{
      align-items: center;
  }
  nav{
      width: 40%;
      display: flex;
      justify-content: space-around;
  }
  section{
      width: 100%;
      height: fit-content;
  }
  #r1{
      font-size: 30px;
  }
  #r2, #r5{
      font-size: 30px;
  }
  #container_1{
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      overflow-y: auto;
  }
}
@media (max-width:500px) {
  #list_1 li, #list_2 li{
      font-size: 20px;
  }
  nav{
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  form{
      width: 100%;
  }
  table{
      display: none;
  }
}