* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background-color: rgba(0, 0, 0, 0.829);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
 
}

.logo {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
}

.logo:hover {
    color: #9A6Aff;
    text-shadow: 0 0 25px #9A6Aff,
                 0 0 50px #9A6Aff;
    transform: scale(1.1);
}

span{
    color: #9A6Aff
}
legend {
    color: #9A6Aff;
    padding: 60px;
    font-size: 25px;
    font-weight: 600;
   
    
}

figcaption {
    color: #fff;
    padding: 60px;
    font-size: 25px;
    font-style: italic;
}

p{
    line-height: 20px;
} 



.navbar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: #9A6Aff;
    border-bottom: 3px solid #9A6Aff;
}

.contact {
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent ;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover {
    background-color: #9A6Aff;
    box-shadow: 0 0 25px #9A6Aff;
    color: white;
}

.home {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    padding: 30px 12% 0;

}

.home-content {
    max-width: 800px;

}

.home-content h3 {
    font-size: 62px;
    line-height: 1.2;
}

.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.btn-box {
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn-1 {
    padding: 15px 28px;
    background-color: black;
    color: #fff;
    border: 2px solid transparent ;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn-2 {
    padding: 15px 28px;
    background-color: #9A6Aff;
    color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-2:hover {
    background-color: white;
    color: #9A6Aff;
}

.img-box img {
    border-radius: 50%;
    width: 550px;

}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #9A6Aff;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.658);
    width: 50px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: black ;
}

.about-img img{
    position: relative;
    width: 500px;
    box-shadow: 0 0 25px #9A6Aff,
                0 0 50px #9A6Aff;
    border-radius: 2%;
    
}

.about-content h2 {
    text-align: center;
    color: white;
    font-size: 42px;

}

.about-content h3 {
    font-size: 62px;
    color: white;
}

.about-content p {
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

.contact-form h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form {
    max-width:  50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
    
}

.contact-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 18px;
    color: black ;
    background-color: rgb(241, 241, 241);
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize
 }

 .project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: black ;
}

 .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;

 }


 .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;

 }

 .footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid #9A6Aff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px #9A6Aff;
    transition: 0.3s ease;
 }

 .footer .social a:hover{
   transform: scale(1.2)translateX(-10px);
   color: #9A6Aff;
   border: 2px solid #9A6Aff;
 }

 .footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
 }

 .footer ul li a{
    color: white;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
 }

 .footer ul li a:hover {
    border-bottom: 3px solid #9A6Aff;

 }

 .footer ul li{
    display: inline-block;
    margin: 0 10px;
 }  

 .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
 }


 @media (max-width: 768px) {
    .header {
        padding: 10px 5%;
    }

    .navbar {
        display: none;
    }

    .header .contact {
        display: none;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .home-content h1 {
        font-size: 20px;
    }

    .btn-box {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
        padding: 5% 2%;
    }

    .about-img img {
        width: 100%;
    }

    .contact-form .input-box input,
    .contact-form textarea {
        width: 100%;
        max-width: 100%;
    }

    .footer .social a {
        font-size: 18px;
        width: 30px;
        height: 30px;
        line-height: 28px;
    }

    .footer ul li {
        display: block;
        margin: 5px 0;
    }
}