/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Section */
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}

header p {
    text-align: center;
    font-size: 14px;
}

/* Biography Sections */
section {
    padding: 20px;
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #35424a;
    border-bottom: 2px solid #e8491d;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

section p, section ul {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e8491d;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

ul li:nth-child(odd) {
    background: #35424a;
}

ul li:nth-child(even) {
    background: #e8491d;
}

/* Footer Section */
footer {
    background: #35424a;
