/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: blue#333;
  color: #fff;
  padding: 10px 0;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: rgb(0 0 7)
  
}

section {
  padding: 20px;
  text-align: center;
}

#hero {
  background: #f4f4f4;
  padding: 50px 20px;
}

#about,
#skills,
#experience,
#education,
#contact {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#about p, #skills ul, #experience ul, #education ul {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.profile-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-image:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-links a {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #007bff; /* Change to desired hover color */
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}