	body{
		color:#156875;
		font-family: "Architects Daughter", cursive;
		font-weight: 400;
		font-style: normal;
	}
	.container{
		max-width: 100%;
	}
	.list {
		display: block;
		margin-top:120px;
		font-weight: 900;
		text-align: center;
		
	}
	h1 {
		font-weight: 900;
	}
    strong {
        font-weight: 900;
    }
	a {
		color:#6fb1b0;
		text-decoration: none;
	}

    .image {
        display: block;
        margin-left: 70px;
    }
	footer {
        height: 30px;
		line-height: 5px;
		background-color: #156875;
        margin-top: 10px;
        padding: 8px 0;
		

	}
	footer p {
		margin: 30px 0px 0px;
		text-align: center;
		color: #156875;
	}
