@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    cursor: none;
}


.skill-card, .project-card {
    background: linear-gradient(145deg, #333, #555);
    box-shadow: 10px 10px 20px #111, -10px -10px 20px #777;
    transition: transform 0.3s;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    min-width: 150px;
    cursor: pointer;
}

.skill-card:hover, .project-card:hover {
    transform: translateY(-10px);
}

.animate-fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.animate-fade-in-up.delay-1s {
    animation-delay: 1s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#burger-menu {
    cursor: pointer;
    transition: all 0.3s;
}

#burger-menu.open .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#burger-menu.open .line2 {
    opacity: 0;
}

#burger-menu.open .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.text-slider {
    display: inline-block;
    animation: typing-animation 5s steps(40, end), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid orange; /* Adjust blinking cursor style */
    margin-left: 10px; /* Adjust margin as needed */
  }

  @keyframes typing-animation {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }


  .model-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
  model-viewer {
    width: 100%;
    height: 500px;
}
