*{
    margin: 0;
    padding: 0;
    justify-content: center;
}
body{
    background:repeating-linear-gradient(100deg, rgb(66, 66, 135), rgb(64, 163, 76), rgb(102, 149, 58))
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;

    background: linear-gradient(100deg, #292d39, #c4a9d2);
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}
.navbar ul li{
    color: black;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    font-size: 24px;
    justify-content: space-between;
    margin: 10px;

}
.navbar ul li:hover{
    text-decoration: underline solid rgb(123, 0, 255);
}

.main{
    background: linear-gradient(150deg, #c4a9d2,#292d39);
    width: 90%;
    max-width: 470px;
    color: #000000;
    margin: 2px auto 0;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
    display: block;
}
.folio {
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: bottom;
}
.folio h1{
    text-align: top;

}
.folio a span{
    text-decoration: none;
    color: white;
    display: flex;
}
.folio a img{
    display: flex;
    width: 70px;
}
.folio a img:hover{
    transition: 400ms;
    width: 100px;
}