.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.HomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60%;
    background-color: var(--bg-clear);
    border-radius: 1rem;
    padding: .5rem;
    z-index: 1;
}

.HomeTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;

    & .HomeTopLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;

        & p{
            font-size: 1rem;
            font-weight: 500;
        }
    }

    & .HomeTopRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
    }
}

.HomeBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
    gap: 2rem;


    & button {
        width: 7rem;
        height: 2.5rem;
        border-radius: .5rem;
        border: 1px solid var(--txt-teal);
        color: var(--white);
        font-size: .8rem;
        font-weight: 600;
        cursor: pointer;
        transition: all .5s ease-in-out;

        &:hover {
            background-color: var(--txt-teal);
            color: var(--black);
        }
    }

    & button:last-child {
        background-color: var(--txt-teal);
        color: var(--black);

        &:hover {
            background-color: transparent;
            color: var(--txt-teal);
        }
    }

}

.HomeTopLeftTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}