.SkeletonTop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SkeletonLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.SkeletonRight {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopSkeleton{
    flex: 1;
}

.SkeletonBottom{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}