* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    /* height: 100vh; */
    width: 100%;
    background: radial-gradient(circle at 1.2% 5.3%, rgb(255, 85, 166) 0%, rgb(255, 154, 98) 100.2%);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    z-index: 1000000;

}

.navbar .logo a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
}

.navbar .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}

.navbar .links a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    transition: 0.2s ease;
}

.navbar .links a:hover {
    color: #47b2e4;
}

.navbar .buttons a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 15px 0;
    transition: 0.2s ease;
}

.navbar .buttons a:not(:last-child) {
    margin-right: 30px;
}

.navbar .buttons .signin:hover {
    color: #47b2e4;
}

.navbar .buttons .signup {
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 0.375rem;
    text-align: center;
    transition: 0.2s ease;

}

.navbar .buttons .signup:hover {
    background-color: #47b2e4;
    color: #fff;
}

.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-section .hero {
    max-width: 50%;
    color: #fff;
} 

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;


}

.hero-section .img img {
    width: 300px;
    height: 310px;
    border: 4px solid #47b2e4;
    border-radius: 50%;


}

.hero-section .buttons {
    margin-top: 40px;
}

.hero-section .buttons a {
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: 0.2s ease;
    display: inline-block;

}

.hero-section .buttons a:not(:last-child) {
    margin-right: 15px;
}

.buttons .join {
    background-color: #47b2e4;

}

.hero-section .buttons .learn {
    border: 1px solid #fff;
    border-radius: 0.375rem;

}

.hero-section .buttons a:hover {
    background-color: #47b2e4;

}

/* HAMBURGER MENU */
#menu-toggle {
    display: none;
}

#hamburger-btn {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    order: 1;
}

.bio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 0;
    padding: 5rem;
}

.bio .bio-header {
    color:#fff;
    font-size: 1.5rem;
    text-align: center;
}

.bio p {
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}


/* progress bars */
.meter {
    box-sizing: content-box;
    height: 20px; /* Can be anything */
    position: relative;
    margin: 60px 0 20px 0; /* Just for demo spacing */
    background: #555;
    border-radius: 25px;
    padding: 2px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }
  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: radial-gradient(circle at 18.7% 70.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
.orange > span {
    /* background-image: linear-gradient(#f1a165, #f36d0a); */
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  }

.bio .skill {
    color: #fff;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.bio ul {
    color: #fff;
    font-size: 1.1rem;
}

.footer {
    text-align: center;
    bottom: 0;
    padding: 2rem;
    background-color: #fff;
}

@media screen and (max-width: 1023px) {
    .navbar .logo a {
        font-size: 1.5rem;
        
    }

    .links {
        position: fixed;
        left: -100%;
        top: 75px;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        background: #175d69;
        flex-direction: column;
        transition: 0.3s ease;
    }

    .navbar #menu-toggle:checked ~ .links {
        left: 0;
    }

    .navbar #hamburger-btn {
        display: block;

    }

    .header .buttons {
        display: none;
    }

    .hero-section .hero {
        max-width: 100%;
        text-align: center;
    }

    .hero-section img {
        display: none;
    }

    .bio {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}