.ProjectItems {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    flex-wrap: wrap;
    padding: .5rem;
    overflow-y: auto;
}

.Project {
    width: 32%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid var(--bg-clear);
    border-radius: 5px;
    overflow-y: auto;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        border: 1px solid var(--txt-teal);
    }

    & .ProjectItem {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
}

.ItemTop {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    & img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        border-radius: .5rem;
    }

    & span {
        font-size: .8rem;
        font-weight: 600;
        color: var(--white);
    }
}

.ItemBody {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5rem;
    padding: .3rem;

    & p {
        font-size: .8rem;
        font-weight: 400;
    }
}

.BottomPart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: .5rem;
    padding: .3rem;
}

.ItemLink {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    padding: .3rem;

    & i {
        font-size: .6rem;
        font-weight: 600;
    }

    & a {
        font-size: .6rem;
        font-weight: 600;
        color: var(--txt-teal);
        transition: all .3s ease-in-out;

        &:hover {
            text-decoration: underline;
        }
    }
}

.Tag {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .2rem;
    padding: .3rem;
    align-self: flex-end;

    & i {
        font-size: .6rem;
        font-weight: 600;
    }

    & span {
        font-size: .6rem;
        font-weight: 600;
        transition: all .3s ease-in-out;

        &:hover {
            text-decoration: underline;
        }
    }
}

.ItemBottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .3rem;

    & span {
        font-size: .6rem;
        font-weight: 500;
        border-radius: 5px;
    }
}

.BottomTech {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .2rem;
    flex-wrap: wrap;
    padding: .2rem;
}

.Users {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    overflow-y: auto;

    & i {
        font-size: .6rem;
        font-weight: 600;
    }
}