@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ;
}

body{
   height: 100vh;
   background: linear-gradient(45deg, lightblue, rgb(89, 89, 230), rgb(241, 92, 255));
   width: 100%;
}
section{
    padding: 2.5em;
}

.container{
    width: 320px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
h1{
    text-align: center;
    padding: 1.5em;
}
p{
    color: #3b3a3a;
    font-size: 15px;
    margin-left: 30px;
}

.password-text{
    margin-top: 20px;
}

input{
   margin-left: 30px;
   width: 250px;
   outline:none;
   border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #7a7878;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: #7a7878;
    font-size: 13px;
    display: flex;
    justify-content:right;
    margin-right: 30px;
}
a:hover{
   color: black;
}

.button-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

button{
   padding: 5px 5px;
   width: 250px;
   border-radius: 15px;
   outline: none;
   border: none;
   background: linear-gradient(45deg, lightblue, rgb(89, 89, 230), rgb(241, 92, 255));
   text-align: center;
   cursor: pointer;
   transition: .3s ease;
}

button:hover{
    color: #fff;
}

.sign-up{
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sign-up-2{
    margin-left: 30px;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-icons i{
    font-size: 24px;
    color: #3b3a3a;
    cursor: pointer;
}
.sign-up-3{
    margin-left: 30px;
    padding-top: 50px;
}
.sign-up-4{
    margin-left: 30px;
    color: #030303;
}