.ContactsInfo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.ContactsLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.ContactImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 1rem;

    & img {
        width: 100%;
        height: 99%;
        object-fit: cover;
    }
}

.Socials {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--p-color);
    padding: 1rem;
    border-radius: .5rem;

    & a {
        margin-right: 1rem;
    }

    & i {
        font-size: 2rem;
        border-radius: 50%;
        color: var(--text-color);
        transition: all .3s ease-in-out;

        &:hover {
            color: var(--warning);
        }
    }
}

.SocialsTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;

    & .ContactRow {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        margin-bottom: .5rem;
        cursor: pointer;
        transition: all .3s ease-in-out;

        & i {
            font-size: 1rem;
            margin-right: .5rem;
        }

        & span {
            font-size: 1rem;
            font-weight: 500;
            color: var(--text-color);
        }

        &:hover {
            color: var(--txt-teal);
            text-decoration: underline var(--txt-teal);
        }
    }
}

.ContactsRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;

    & h2 {
        font-size: 1rem;
        font-weight: 600;
        color: var(--white);
        margin-bottom: 1rem;
    }
}

.Message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;

    & textarea {
        width: 100%;
        height: 5rem;
        border-radius: .5rem;
        border: 1px solid var(--p-color);
        padding: .5rem;
        font-size: .8rem;
        font-weight: 500;
        color: var(--text-color);
        outline: none;
        transition: all .3s ease-in-out;

        &:focus {
            border: 1px solid var(--txt-teal);
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
}

.FormRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: .5rem;

    & label {
        font-size: .8rem;
        font-weight: 500;
        color: var(--text-color);
    }

    & input {
        width: 100%;
        height: 2.5rem;
        outline: none;
        transition: all .3s ease-in-out;


        &:focus {
            border: 1px solid var(--txt-teal);
            outline: 1px solid var(--txt-teal);
        }
    }

    & button {
        width: 30%;
        height: 2.5rem;
        border-radius: .5rem;
        border: 1px solid var(--txt-teal);
        background-color: transparent;
        color: var(--white);
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: var(--txt-teal);
            color: var(--black);
        }
    }
}

input,
textarea {
    margin-bottom: .5rem;
    padding: .5rem;
    font-size: 1rem !important;
    font-weight: 500;
    color: var(--text-color);
    font-family: sans-serif !important;
    border-radius: .5rem;
    border: 1px solid var(--p-color);
    background: transparent;
}

.Error {
    color: var(--warning);
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.Success {
    color: var(--txt-teal);
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: .5rem;
}