footer {
	position: relative;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right, #333, #333);
	width: 100%;
	padding: 20px;
	color: #fff;
	font-family: Arial, sans-serif;
	border-radius: 4px;
	margin-top: 10px;
}

footer.social {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
}

.x {
	width: 30%;
	border-right: 1px solid #ccc;
	display: block;
}
.l {
	width: 30%;
	border-right: 1px solid #ccc;
	margin-left: auto;
	margin-right: 0;
	display: block;
	align-self: center;
	border: 1px solid #ccc;
	border-radius: 10px;
}
footer.g {
    /* Example properties for class 'g' */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30a169; /* Light grey background */
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    font-family: 'Arial', sans-serif;
    color: #201c1c; /* Dark grey text */
	padding-left: 10px solid #f0f0f0; /* Light grey left border */
	display: block;
}
.linkedin {
	/* Example properties for class 'linkedin' */
	width: 30%;
	border-right: 1px solid #ccc;
	display: block;
	padding: 10px;
}